streamlit>=1.47.0
openai
duckduckgo-search
python-dotenv
pandas
openpyxl
pydantic
requests
beautifulsoup4
pypdf
lxml
plotly
llama-cloud-services
tavily-python
langchain-openai
langgraph
langchain-core
streamlit-agraph
typing-extensions
rapidfuzz